
{/*

.introduction{
    
    margin-top: 30px;
    display: block;
    text-align: justify;
    font-weight: 600;
    margin-right: 30px;
    margin-left: 10px;
    font-size: 1.2rem;  
    font-family: sans-serif;
}


.introduction:hover
{
    color:black;
    font-size: 130%;
}


span{
    display: flex;
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 30px;
    color:dark;
    font-weight: 700;
    margin-left: 10px;
    color: darkblue;
    font-family: sans-serif;
}

img{
    width:50%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.container-fluid
{
    background-image: url("https://previews.123rf.com/images/samarttiw/samarttiw1503/samarttiw150300004/37128810-abstract-background-medical-substance-and-molecules-.jpg");
    background-size: cover;

}

img:hover
{
    width:70%
}


@media screen and (max-width: 900px) {
    .row {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .image-profile
    {
        width:100%
    }
    .introduction{
        width: 100%;
        font-size: 1rem;
    }
   
    span{
        font-size: 15px;
    }
  
  }

**/}




