
.skills-text
{
    text-align: justify;
    display: block;
    justify-content: center;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 1.1rem;
    font-weight: 500;
}
.skills-red{
    color: #e63c25;
    margin-left: 10px;
    margin-right: 10px;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    font-family: 14px;
}
.skills-yellow{
    color:yellow;
    margin-left: 10px;
    margin-right: 10px;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    font-family: 14px;
}

.skills-red:hover,.skills-yellow:hover{
    font-size: 250%;
}
.col-6{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
 
h2{
    margin-bottom: 50px;
    margin-top: 50px;
}

.Container
{
    background: hsla(240,9%,96%,.61);
}
.carde{
    
        
    transition-delay: 1s;
    border-radius: 15px;
    box-shadow: 0 0 20px #000;
    justify-content: center;
    margin: 5%;
    padding: 5px 0 0;
    text-align: center;
    transition: all .6s;
    width: 90%;
}
@media screen and (max-width: 800px) {
    .row
    {
        display: flex;
        flex-direction: column;
             
    }
  .carde{
      width: 12rem;
      
  }
}


/*** <--- CIRCLE STYLES ---> ***/
.wrap-circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.circle {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0.5rem;
  border-radius: 50%;
  background: #cd855e;
  overflow: hidden;
}
.circle.per-25 {
  background-image: conic-gradient(#B5838D 25%,#cd855e 0);
}
.circle.per-50 {
  background-image: conic-gradient(#B5838D 50%, #cd855e 0);
}
.circle.per-75 {
  background-image: conic-gradient(#B5838D 75%, #cd855e  0);
}
.circle.per-100 {
  background-image: conic-gradient(#B5838D 100%, #cd855e 0);
}
.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 115px;
  background: #000;
  border-radius: 50%;
  font-size: 1.1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}
